PORT=5000
MONGODB_URI=mongodb+srv://gangedms102_db_user:task12345@gange.mneofix.mongodb.net/?appName=Gange
JWT_SECRET=your_super_secret_jwt_key_here
JWT_EXPIRES_IN=7d
NODE_ENV=production
FRONTEND_URL=https://your-frontend-domain.vercel.app
